# LLM_PROVIDER=gemini
# LLM_API_KEY=Your_Gemini_API_Key_Here
# LLM_MODEL=gemini/gemini-2.5-flash

LLM_PROVIDER="ollama"
LLM_MODEL="qwen3:4b"
LLM_ENDPOINT="http://localhost:11434/v1"
LLM_API_KEY="ollama"

EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=nomic-embed-text:latest
EMBEDDING_ENDPOINT=http://localhost:11434/api/embed
EMBEDDING_DIMENSIONS="768"
HUGGINGFACE_TOKENIZER="nomic-ai/nomic-embed-text-v1.5"


// visit the cognee docs for LLM and embedding provider setup instructions: 
https://docs.cognee.ai/setup-configuration/llm-providers
https://docs.cognee.ai/setup-configuration/embedding-providers

GITHUB_PAT_TOKEN=your_github_pat_here
NOTION_TOKEN=secret_your_notion_token_here
DISCORD_BOT_TOKEN=MTAx_your_discord_bot_token_here